<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628176158213-6v19da7cjkdo8gjtcviisrjj5u1odgi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628176158213-6v19da7cjkdo8gjtcviisrjj5u1odgi2</string>
	<key>API_KEY</key>
	<string>AIzaSyBil8L3QRdfpKzlAj9Gocoxh8Utr9E65mI</string>
	<key>GCM_SENDER_ID</key>
	<string>628176158213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentorTraining</string>
	<key>PROJECT_ID</key>
	<string>mentor-training-37f35</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-training-37f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628176158213:ios:653387f8f46b1d947ee66c</string>
</dict>
</plist>